*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
nav{
  background: #0082e6;
  height: 115px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

.image-wide{
  width: 440px;
  margin-left: 6rem;
  margin-top: .4rem;
}

.image{
  display: none;
}

@media (max-width: 945px){
  .image-wide{
    display: none;
  }

  .image{
  display: inline-block;
  margin-left: 0rem;
  width: 210px; 
  margin-top: .7rem;
}}



nav ul{
  float: right;
  margin-right: 20px;
  margin-top: 2rem;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: .9rem;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 5px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1080px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 40vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(158, 200, 255, 0.8);
  padding: 10px;
  margin: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.Description {
  font-size: 30pt;
  font-weight: bold;
  color: rgb(37, 91, 190);
}

.Paragraph{
  margin-top: 1rem;
  font-size: 20pt;
}

.main-paragraph{
  text-align: center;
  margin-top: 3rem;
  margin-right: 15rem;
  margin-left: 15rem;
  font-size: 18pt;
}

.heading{
  font-weight: bold;
  font-size: 30pt;
  text-align:center;
  margin-top: 3rem;
}

@media (max-width: 1270px){
    .grid-container{
        display: table;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .Description {
      font-size: 20pt;
    }
    
    .Paragraph{
      margin-top: 1rem;
      font-size: 10pt;
    }

    .main-paragraph{
      text-align: center;
      margin-top: 2rem;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 13pt;
    }
  }



  .Description.active,.Description:hover{
    background-color: rgb(189, 255, 244);
    width: auto;
  }


  .main-home:hover {

    background-color: #0082e6;
    
    box-shadow:none;
    
    }


  .need-form{
      
    }

    .Form-Id{
      background: rgb(126, 186, 255);
      width: 450px;
      height: 1600px;
      margin-left: 5rem;
      display: inline-block;
      float: left;
      vertical-align: top;
    }

    .form-content{
      
    }

    .soup{
      margin-top: 9rem;
      width: 600px;
      

      
    }

    .volunteer-body{
      background-color: rgb(93, 149, 223);
    }

    .volunteer-form{
      margin-top: 1rem;
      height:1650px;
    }

    @media (max-width:600px){
      .volunteer-form{
        width:310px;
        height:1700px;
      }
      
      .form-body-text{
        font-size: 15pt;
      }
      
    }

    .heading{
      font-size: 40pt;
    }

    .heading-2{
      text-align: center;
      font-weight: bold;
      margin-top: 3rem;
      font-size: 30pt;
    }


    .donation-text{
      font-weight: bold;
      color: white;
      margin-top: 5rem;
      text-align: center;
      font-size: 40pt;
    }

    .contact-title{
      margin-top: 100px;
      text-transform: uppercase;
    }

    .contact-title h1{
      font-size: 32px;
      line-height: 10px;
      text-align: center;
    }

    form{
      margin-top: 50px;
      text-align: center;
    }

    .form-control{
      width: 600px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      font-size: 18px;
      margin-bottom: 16px;
    }

    input{
      height:45px;
    }

    form .submit{
      color: white;
      background: #2c3e50;
      border-color: transparent;

    }

    form .submit:hover{
      cursor: pointer;
    }

    

    .footer-bg{
      background-color: rgb(43, 102, 192);
      width: 100%;
      height: 5rem;
      position: absolute;
      margin-top: 3rem;
    }

    .footer-text{
      margin-top: 1rem;
      text-emphasis-color: rgb(255, 0, 221);
      position: relative;
      text-align: center;
      color: white;
      margin-top: 4.5rem;
    }

    @media (max-width:650px){
      .form-control{
        width: 250px;

      }
      
    }

    @media (max-width:1260px){
      .footer-text{
        margin-top: 7rem;
      }
    }

    .volunteer-form{
      position: absolute;
      vertical-align: top;
    }

    .form-body-text{
      text-align: center;
      margin-left: 45rem;
      vertical-align: middle;
      margin-top: 10rem;
      padding: 10rem;
      color: white;
      position: absolute;
    }

    @media (max-width:1182px){
      .form-body-text{
        margin: 1.5rem;
        padding: 0rem;
        vertical-align: top;
        position: relative;
        text-align: left;
        width: 250px;
      }
      .volunteer-form{
        position: relative;
      }

      .Form-Id{
        background: transparent;
        margin-left: .5rem;
        margin-right: .5rem;
        width: 200px;
      }

      .form-content{
        margin: 1.2rem;
        width: 10px;
      }

    }