*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background: #0082e6;
  height: 115px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

.image-wide{
  width: 440px;
  margin-left: 6rem;
  margin-top: .4rem;
}

.image{
  display: none;
}

@media (max-width: 945px){
  .image-wide{
    display: none;
  }

  .image{
  display: inline-block;
  margin-left: 0rem;
  width: 210px; 
  margin-top: .7rem;
}}



nav ul{
  float: right;
  margin-right: 20px;
  margin-top: .9rem;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: .9rem;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1080px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 40vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(158, 200, 255, 0.8);
  padding: 10px;
  margin: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.Description {
  font-size: 30pt;
  font-weight: bold;
  color: rgb(37, 91, 190);
}

.Paragraph{
  margin-top: 1rem;
  font-size: 20pt;
}

.main-paragraph{
  text-align: center;
  margin-top: 3rem;
  margin-right: 15rem;
  margin-left: 15rem;
  font-size: 18pt;
}

.heading{
  font-weight: bold;
  font-size: 30pt;
  text-align:center;
  margin-top: 3rem;
}

@media (max-width: 1270px){
    .grid-container{
        display: table;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .Description {
      font-size: 20pt;
    }
    
    .Paragraph{
      margin-top: 1rem;
      font-size: 10pt;
    }

    .main-paragraph{
      text-align: center;
      margin-top: 2rem;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 13pt;
    }
  }



  .Description.active,.Description:hover{
    background-color: rgb(189, 255, 244);
    width: auto;
  }